<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>İletişim</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Map Section Begin -->
<div class="map spad">
    <div class="container">
        <div class="map-inner">
            <iframe width="600" height="600" src="https://maps.google.com/maps?hl=en&amp;q=polatlı egzoz+(sincanAnkara)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="icon">
            <i class="fa fa-map-marker"></i>
        </div>
    </div>
</div>
</div>
<!-- Map Section Begin -->
<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>Bize Ulaşın</h4>
                    <p>
                        50 senelik sanayi deneyimiyle size yardımcı olabileceğimizi düşünüyoruz. Bize Ulaşın yardımcı olalım.
                    </p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                            <span>Adres:</span>
                            <p>Address: Ahi Evran, 214. Cadde No:8, 06935 Sincan/Ankara</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <span>Telefon</span>
                            <p>+90 (312) 272 17 45</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                            <span>Email:</span>
                            <p>huseynm@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="contact-form">
                    <div class="leave-comment">
                        <h4>Yorum Yap</h4>
                        <p>Personellerimiz en kısa sürede yorumlarınıza dönüş yapacaktır.</p>
                        <form action="#" class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Adınız">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Mailiniz">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Mesajınız"></textarea>
                                    <button type="submit" class="site-btn">Mesajı Gönder</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script type="text/javascript">
    $(document).ready(function () {
        sepetiGuncelle();
    });

    function sepetiGuncelle() {
        $("#sepetID").find("tr").remove();
        $.ajax({
            type: "POST",
            url: "/Home/GetSepetIcerigi",
            success: function (data) {
                var toplam = 0;
                $.each(data, function (i, ele) {
                    toplam = toplam + (data[i].Fiyati * data[i].SepettekiUrunAdedi);
                    $("#sepetID").append("<tr><td class='si-pic'><img style='height: 80px;width: 80px;' src='" + data[i].Path + "' alt=''></td><td>" +
                        "<td class='si-text'><div class='product-selected'><p>" + data[i].Fiyati + "₺ x " + data[i].SepettekiUrunAdedi + "</p><h6>" + data[i].Adi + "</h6></div></td>" +
                        "<td class='si-close'><i class='ti-close'></i></td></tr >");
                });
                $("#ToplamTutar").find("h5").remove();
                $("#ToplamTutar").append("<h5>" + toplam + "₺</h5>");
                $("#sepetUrunAdedi").find("span").remove();
                $("#sepetUrunAdedi").append("<span>" + data.length + "</span>");
            }
        });
    }



    $(".w-icon").click(function () {
        var urunID = $(this).data("id");
        $.ajax({
            type: "POST",
            url: "/Home/SepeteEkle",
            data: { ID: urunID }, // serializes the form's elements.
            success: function (data) {
                sepetiGuncelle();
            }
        });
    });
</script>
