@using PolatlıEksozSiparisForm.Models.VMs
@{
    ViewBag.Title = "Odeme";
}

<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Alışveriş</a>
                    <span>Ödeme</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <form action="/Siparis/SiparisKayit" method="post" class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                   
                    <h4>Fatura Bilgileri</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">Ad<span>*</span></label>
                            <input type="text" id="Adi" name="Adi">
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Soyad<span>*</span></label>
                            <input type="text" id="Soyadi" name="Soyadi">
                        </div>
                        <div class="col-lg-12">
                            <label for="cun-name">Şirket Adı</label>
                            <input type="text" id="SirketAdi" name="SirketAdi">
                        </div>
                        <div class="col-lg-12">
                            <label for="cun">Ülke<span>*</span></label>
                            <input type="text" id="ÜlkeAdi" name="ÜlkeAdi">
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Adres<span>*</span></label>
                            <input type="text" id="Adres" name="Adres" class="street-first">
                            <input type="text">
                        </div>
                        <div class="col-lg-12">
                            <label for="zip">Posta Kodu</label>
                            <input type="text" id="PostaKodu" name="PostaKOdu">
                        </div>
                        <div class="col-lg-12">
                            <label for="town">İl / İlçe<span>*</span></label>
                            <input type="text" id="ILceIl" name="IlceIl">
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email<span>*</span></label>
                            <input type="text" id="Email" name="Email">
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Telefon<span>*</span></label>
                            <input type="text" id="TelefonNo" name="TelefonNo">
                        </div>
                        <div class="col-lg-12">
                            <div class="create-item">
                                <label for="acc-create">
                                    Hesap oluştur?
                                    <input type="checkbox" id="acc-create">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                   
                    <div class="place-order">
                        <h4>Siparişleriniz</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>SİPARİŞLER <span>Toplam</span></li>
                                @{
                                    var sepettekiUrunler = new List<SepetVM>();
                                    sepettekiUrunler = (List<SepetVM>)Session["SepettekiUrunler"];
                                    if (sepettekiUrunler != null)
                                    {
                                        foreach (var item in sepettekiUrunler)
                                        {
                                            <li class="fw-normal">@item.Adi  x @item.SepettekiUrunAdedi <span>@(item.Fiyati * item.SepettekiUrunAdedi)</span></li>

                                        }
                                    }
                                
                                    var sepettekiUrun = new List<SepetVM>();
                                    sepettekiUrun = (List<SepetVM>)Session["SepettekiUrunler"];
                                    if (sepettekiUrun != null)
                                    {
                                        decimal toplam = 0;
                                        foreach (var item in sepettekiUrun)
                                        {
                                            toplam = item.Fiyati * item.SepettekiUrunAdedi + toplam;
                                        }
                                <li class="total-price">Toplam <span> @toplam ₺</span></li>
                                        
                                    }
                                    else
                                    {
                                <li class="total-price">Toplam <span> 0₺</span></li>
                                       
                                    }
                                }
                            </ul>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check">
                                        Ödemeyi Kontrol Et
                                        <input type="checkbox" id="pc-check">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-paypal">
                                        Kapıda Ödeme
                                        <input type="checkbox" id="pc-paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn">Sipariş Ver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->
